html {
  font-size: 62.5%;
}

body {
  font-family: Georgia Extrabold, serif;
  font-size: $m-size;
}

h1, h2 ,h3, h4 {
  color: brown;
  padding: .5rem 0;
  margin: 0;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  color: $link-color-hover;
}

.input-placeholder {
  border: 0 solid gray;
  border-top-width: 1px;
  outline: none;
  resize: none;
  text-wrap: normal;
  margin-bottom: .5rem;
}

.input-placeholder:focus {
  border: 0 solid black;
  border-top-width: 2px;
  outline: none;
}

.invisible-div {
  height: 4.4rem;
}

.errorText {
  color: red;
  font-style: italic;
}
