// color
$border-color:#808080;
$link-color: #a2cad7;
$link-color-hover: darken($link-color, 20%);
$button-color: #64985a;
//spaces
$s-size:1.2rem;
$m-size:1.6rem;
$l-size:3.2rem;
$xl-size:4.8rem;
$desktop:35rem;

