<!DOCTYPE html>
<html>
<head>
  <title>Title</title>

</head>

<body>
<div style="display: block;">
  <h2>Welcome to MERN</h2>
  <a href="{{url}}/api/users/changePassword/{{token}}"><button>Change Password</button></a>
</div>


</body>

</html>
