<!DOCTYPE html>
<html>
<head>
  <title>Title</title>

</head>

<body>
<div style="display: block;">
  <h2 style="color: #b72309">Hello MERN</h2>
  <a href="{{urlClient}}/resetPassword/{{token}}"><button>Reset Password</button></a>


</div>


</body>

</html>
