.authentication {
  align-items: center;
  display: flex;
  flex-direction: column;
  -ms-word-break: break-all;
  width: 100%;
  h1 {
    margin: 2rem 0;
  }
}

.item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.authentication__text {
  align-items: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  padding: 1rem;
  width: 80%;
  -ms-word-break: break-all;
  //display: inline-block;
  word-break: break-all;
  overflow-wrap: break-word;

  p {
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.003em;
    line-height: 1.58;
  }
}

.text__code {

  background-color: #e4f8ff;
  padding: 0 2rem;
  width: 100%;
}

.code {
  align-self: auto;
}

.const {
  color: blue;
}

.comment {
  color: grey;
}

.varname {
  font-weight: bolder;
}

.function {
  color: #b72309;
}

.string {
  color: darkgreen;
}

.authentication__button {
  margin: 1rem 0 3rem;
}

@media (max-width: 415px) {
  .authentication {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    h2 {
      padding: 1rem 2rem;
    }
    h3 {
      margin: 1rem ;
    }
  }

  .authentication__text {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 3rem 0;
    padding: 0;
    width: 100%;
    p {
      font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 100;
      letter-spacing: -.003em;
      line-height: 1.58;
      padding: 0 1rem;
    }
  }
  .text__code {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #e4f8ff;
    padding: 0;
    margin-left: .5rem;
    max-width: 100%;
  }
  .code {
    padding: 0 .5rem;
  }
  .pre {
    //padding: 1rem;
    //width: 0rem;
  }
}
