.landing {
  align-items: center;
  background-color: #222627;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.landing__header {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  h1 {
    color: #e12b0b;
  }
}

.landing__image {
  margin: 4rem auto;
  padding: 1.8rem 0 8.6rem;
}

@media (max-width: 420px) {
  .landing__image {
    margin: 3rem auto 22rem;
    padding: 2rem 0 ;
    img {
      width: 350px;
    }
  }
  .landing__header {
    padding: 1rem;
    h1 {
      color: #e12b0b;
      font-size: 24px;
    }
  }
}
