.main {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: space-around;
  min-height: max-content;
  width: 100%;
}

.main > * {
  flex: 1 100%;
}

@media (max-width: 420px) {
  .main {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    min-height: max-content;
    width: 100%;
  }
  #root {
    width: 100%;
  }
}
