.ReactModalPortal>div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 300ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.login__modal {
  background: whitesmoke;
  color: black;
  outline: none;
  max-width: 60rem;
  padding: $l-size;
  text-align: right;
  small {
    padding: 1rem 0;
  }
}

.login__modal--overlay {
  background-color: rgba(255, 255, 255, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.register__modal {
  background: whitesmoke;
  color: black;
  outline: none;
  max-width: 60rem;
  padding: $l-size;
  text-align: center;
}

.modal__title {
  margin: 0 0 $m-size 0;
}

.modal__text {
  font-size: 2rem;
  font-weight: 300;
  word-break: break-all;
  margin: 0 0 $l-size 0;
}
@media (max-width: 411px) {

  .login__modal {
    background: #d7d7d7;
    max-width: 27rem;
    padding: $l-size;
  }

  .login__modal--overlay {
    //background-color: #d7d7d7;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .register__modal {
    background: #d7d7d7;
    max-width: 27rem;
    padding: $l-size;
  }

}
