.authentication {
  align-items: center;
  display: flex;
  flex-direction: column;
  h1 {
    margin: 2rem 0;
  }
}

.authentication__text {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  text-indent: 3rem;
  width: 80%;
}

.authentication__button {
  margin: 1rem 0 3rem;
}
